$color_bg: #FFF;
$color_bg_shade: #E8F0F4;

/* Foreground color for text and UI elements */
$color_fg: #475F72;
$color_fg_tint: lighten($color_fg,15%); /* 20% lighter */
$color_fg_shade: darken($color_fg,15%); /* 20% darker */

/* Used for borders, dividers, etc. */
$color_chrome:#D0D7DD;
$color_chrome_tint:lighten($color_chrome,10%); /* 10% lighter */
$color_chrome_shade:darken($color_chrome,10%); /* 10% darker */

/*--- Inverted Colors ---*/
/* Background color */
$color_invert_bg:#22303A;
$color_invert_bg_tint:lighten($color_invert_bg,10%); /* 10% lighter */
$color_invert_bg_shade:darken($color_invert_bg,10%); /* 10% darker */

/* Foreground color for text and UI elements */
$color_invert_fg:#FAFAFA;
$color_invert_fg_shade:$color_chrome;

/* Used for borders, dividers, etc. */
$color_invert_chrome:#637787;
$color_invert_chrome_tint:lighten($color_invert_chrome,10%); /* 10% lighter */
$color_invert_chrome_shade:darken($color_invert_chrome,10%); /* 10% darker */

/*--- Accent Colors ---*/

/* Primary accent color (orange) */
$color_accent_orange: #F8510F;
$color_accent_orange_tint: lighten($color_accent_orange,10%); /* 10% lighter */
$color_accent_orange_shade: darken($color_accent_orange,10%); /* 10% darker */
$color_accent_orange_tint2: lighten($color_accent_orange,20%); /* 20% lighter */
$color_accent_orange_shade2: darken($color_accent_orange,20%); /* 20% darker */

/* Secondary accent color (blue) */
$color_accent_blue: #00C0FA;
$color_accent_blue_tint: lighten($color_accent_blue,10%); /* 10% lighter */
$color_accent_blue_shade: darken($color_accent_blue,10%); /* 10% darker */
$color_accent_blue_tint2: lighten($color_accent_blue,20%); /* 20% lighter */
$color_accent_blue_shade2: darken($color_accent_blue,20%);; /* 20% darker */

/* Tertiary accent colors */
$color_accent_green:#28E398; /* H:156 S:82 B:89 */
$color_accent_green_tint:lighten($color_accent_green,20%); /* 20% lighter */
$color_accent_green_shade: darken($color_accent_green,10%); /* 10% darker */
$color_accent_yellow:#FED800;
$color_accent_yellow_tint:#FCED96;
$color_accent_yellow_shade:#EFA50D;

$content-width: 1200px;



/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $color_fg;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}




/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
