$color_bg: #FFF;
$color_bg_shade: #E8F0F4;

/* Foreground color for text and UI elements */
$color_fg: #475F72;
$color_fg_tint: lighten($color_fg,15%); /* 20% lighter */
$color_fg_shade: darken($color_fg,15%); /* 20% darker */

/* Used for borders, dividers, etc. */
$color_chrome:#D0D7DD;
$color_chrome_tint:lighten($color_chrome,10%); /* 10% lighter */
$color_chrome_shade:darken($color_chrome,10%); /* 10% darker */

/*--- Inverted Colors ---*/
/* Background color */
$color_invert_bg:#22303A;
$color_invert_bg_tint:lighten($color_invert_bg,10%); /* 10% lighter */
$color_invert_bg_shade:darken($color_invert_bg,10%); /* 10% darker */

/* Foreground color for text and UI elements */
$color_invert_fg:#FAFAFA;
$color_invert_fg_shade:$color_chrome;

/* Used for borders, dividers, etc. */
$color_invert_chrome:#637787;
$color_invert_chrome_tint:lighten($color_invert_chrome,10%); /* 10% lighter */
$color_invert_chrome_shade:darken($color_invert_chrome,10%); /* 10% darker */

/*--- Accent Colors ---*/

/* Primary accent color (orange) */
$color_accent_orange: #F8510F;
$color_accent_orange_tint: lighten($color_accent_orange,10%); /* 10% lighter */
$color_accent_orange_shade: darken($color_accent_orange,10%); /* 10% darker */
$color_accent_orange_tint2: lighten($color_accent_orange,20%); /* 20% lighter */
$color_accent_orange_shade2: darken($color_accent_orange,20%); /* 20% darker */

/* Secondary accent color (blue) */
$color_accent_blue: #00C0FA;
$color_accent_blue_tint: lighten($color_accent_blue,10%); /* 10% lighter */
$color_accent_blue_shade: darken($color_accent_blue,10%); /* 10% darker */
$color_accent_blue_tint2: lighten($color_accent_blue,20%); /* 20% lighter */
$color_accent_blue_shade2: darken($color_accent_blue,20%);; /* 20% darker */

/* Tertiary accent colors */
$color_accent_green:#28E398; /* H:156 S:82 B:89 */
$color_accent_green_tint:lighten($color_accent_green,20%); /* 20% lighter */
$color_accent_green_shade: darken($color_accent_green,10%); /* 10% darker */
$color_accent_yellow:#FED800;
$color_accent_yellow_tint:#FCED96;
$color_accent_yellow_shade:#EFA50D;



body{
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Arial, sans;
    font-weight: 400;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-family: 'Open Sans', 'Helvetica', Arial, sans;
    font-weight: 800;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Homepage
 */

.home{
    header{
        margin-top: 1.5em;
        margin-bottom:3em;
    }
    header:after{
        display:block;
        clear:both;
        content:' ';
    }
    header h1{
        font-family: 'Open Sans';
        font-weight: 800;
        text-transform: uppercase;
        color: $color_accent_blue;
        font-size: 5em;
        width:40%;
        float:left;
        display: block;
        vertical-align: text-top;
        line-height: 1.4;
        padding-top: 0;
        margin-bottom:0;
    }
    header h2{
        width:60%;
        max-width:18em;
        float:left;
        display:block;
        vertical-align: text-top;
        line-height: 1.4;
        color: $color_fg;
        padding-top: 1.4rem;
        margin-bottom:0;
        font-size: 1.5em;
    }

}



/*
    * Code Block
*/



figure.highlight{
    background-color: transparent;
}

pre{
    background-color: $color_invert_bg_tint;
    border:none;
    line-height: 1.2;
}

pre > code{
    background-color: transparent;
}

code{
    color:$color_accent_blue;
     background-color: $color_invert_bg_tint;
}

pre{
    padding:1em;
    border-radius: 4px;
}

.hello-world{
    figure.highlight{
        margin: 0 auto;
    }
}

.callouts{
    margin-top:3em;
    .benefits{
        width: -webkit-calc( 33.333333333333% - 32px );
        width: calc( 33.333333333333% - 32px );
        float:left;
        margin:0 16px;
        h3{
            font-weight: 300;
        }
        p{
            line-height:1.4;
        }
    }
}
.callouts:after{
    display:block;
    clear:both;
    content:' ';
}




















