
*{
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Arial, sans;
    font-weight: 400;
}




/**
 * Site header
 */
.site-header {
    width:100%;
    background-color: $color_invert_bg;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-family: 'Open Sans', 'Helvetica', Arial, sans;
    font-weight: 800;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit*2 0;
    @media(max-width: 768px){
        padding:$spacing-unit 0;
    }
    @media(max-width: 480px){
        padding:0;
    }

}
.page-content > header{
    margin-top:-$spacing-unit*2;
    margin-bottom:3em;
    min-height: 26em;
    position: absolute;
    z-index: -1;
    @media(max-width: 480px){
       background-color: transparent; 
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Homepage
 */

.home{
    header{
        margin-top: 1.5em;
        margin-bottom:3em;
    }
    header:after{
        display:block;
        clear:both;
        content:' ';
    }
    header h1{
        font-family: 'Open Sans';
        font-weight: 800;
        text-transform: uppercase;
        color: $color_accent_blue;
        font-size: 5em;
        display: block;
        vertical-align: text-top;
        line-height: 1.4;
        padding-top: 0;
        margin-bottom:0;
        max-width: 4em;
        padding-bottom: 1rem;
    }
    header h2{
        max-width:18em;
       // float:left;
        display:block;
        vertical-align: text-top;
        line-height: 1.4;
        color: $color_invert_fg_shade;
        margin-bottom:0;
        font-size: 1.5em;
        padding-bottom:.5em;
        @media(max-width: 480px){
           color: $color_fg; 
        }
    }

    .headline{
        padding-top:0em;
        float:left;
        width:40%;
        vertical-align: top;
        line-height: 1;
        @media(max-width:768px){
            float:none;
            width:80%;
            max-width:28rem;
            margin: 0 auto 5em auto;
            clear:both;
        }
        @media(max-width:480px){
            width:90%;
        }
    }

    .hello-world{
        width:55%;
        float:right;
        vertical-align: top;
        line-height: 1;
        position: relative;
        margin-top:24px;   

        pre{
            border-radius: 0 0 4px 4px;
             box-shadow: 0 2px rgba(161, 167, 170, 0.3); 
        }
        figure.highlight{
            margin: 0 auto;
            
        }

        @media(max-width:768px){
            float:none;
            width:80%;
            margin: 0 auto 3em auto;
            clear:both;
        }
        @media(max-width:480px){
            float:none;
            width:100%;
            margin: 0 auto 3em auto;
            clear:both;
            figure.highlight pre{
                padding:1em;
            }
            figure.highlight code{
                font-size: .8em;
            }
            
        }
    }
    .levee-logo{
        position: relative;
        top:-2.5em;
        margin-left:auto;
        margin-right:auto;
        width:320px;
        margin-bottom: -4.5em;
        svg{
            width:320px;
            height: 320px;
        }
        @media(max-width:480px){
            display:none;
        }
    }
    .hello-world:before{
        content:'"Hello World!"';
        vertical-align: middle;
        text-align: center;
        line-height: 2.5;

        display: block;
        position: absolute;
        width:100%;
        top:-36px;
        left:0;
        height:36px;
        overflow: hidden;
        background-color: darken($color_bg_shade,10%);
        border-bottom: solid 1px $color_bg_shade;
        border-radius: 4px 4px 0 0;
        color:lighten($color_fg_tint,10%);
    }

}

/*
    * Call Outs 
*/
.callouts{
    margin-top:3em;
    .benefits{
        width: -webkit-calc( 33.333333333333% - 32px );
        width: calc( 33.333333333333% - 32px );
        float:left;
        margin:0 0 3em 0;
        h3{
            font-weight: 400;
            font-size: 1.4em;
            line-height: 1.2;
        }
        p{
            line-height:1.4;
            font-weight: 300;
            max-width: 32em;
        }
    }
    .benefits:nth-child(2n+2){
        margin-right: 48px;
        margin-left:48px;
    }
    @media(max-width:768px){
        .benefits{
            width:80%;
            max-width:28rem;
            float:none;
            margin:0 auto 3em auto;

            h3{
                font-weight: 400;
                font-size: 1.4em;
                line-height: 1.2;
                max-width: 32em;
            }
            p{
                line-height:1.4;
                font-weight: 300;
                max-width: 32em;
            }
        }
        .benefits:nth-child(2n+2){
            margin-right: auto;
            margin-left: auto;
        }
    }
    @media(max-width:480px){
        .benefits{
            width:90%;
        }
    }
}
.callouts:after{
    display:block;
    clear:both;
    content:' ';
}




/*
    * Code Block
*/



figure.highlight{
    background-color: transparent;
    .kd, .k, .kc{
        color: $color_accent_blue_tint;
    }

    .mi{
        color: $color_accent_orange_tint;
    }

    .s2{
        color: $color_accent_green_tint;
    }

}


pre{
    background-color: $color_invert_bg_tint;
    border:none;
    line-height: 1.2;

}

pre > code{
    background-color: transparent;
}

code{
    padding: 1em;
    color:$color_accent_blue;
     background-color: $color_invert_bg_tint;
}

pre{
    padding:2em;
    border-radius: 4px;
}


.install{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    @media(max-width: 768px){
        width:80%;
    }
    @media(max-width:480px){
        width:100%;
    }
}


/*
    * Site Footer
*/



.site-footer{
    border-top: none;
    hr{
        border:none;
        border-top:solid 1px $color_chrome;
        margin-bottom:4em;
    }
    p{
            color: $color_fg_tint;
            text-align: center;
            max-width: 18em;
            margin-left:auto;
            margin-right:auto;
    }

    .imgix-logo{
        width:153px;
        margin:1em auto;
    }
}

a, a:hover, a:visited{
    color:$color_accent_blue;
    text-decoration: none;
}

a:hover{
    border-bottom:solid 1px $color_accent_blue;
    cursor: pointer;
}





